/conpare.cpp
/conpare.exe
/text.cpp
/text.exe
/.vscode
/.cph
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/c++/v17/Browse.VC.db
.vs/c++/v17/DocumentLayout.json
c++.code-workspace
